<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!<br>
            I'm from Buffalo, NY originally.<br>
            Currently stuck in south Georgia.<br>
            Love to game, code, hike, go to the beach and anything Sci-Fi.
        </p>

    </body>
</html>