<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <p>My name is Dominick I am studying to be a software engineer.</p>
        <p>My wife is Samantha she is studying to be a copyright writer.</p>
        <p>My daughter Isabella is 6 years old. She is in kindergarden. She loves unicorns!!!!</p>
        <p>My son Nicholas is 3 years old. He is not in school yet.</p>
    </body>
</html>